.md-typeset .admonition,
.md-typeset details.large {
  font-size: 17px
}

@media (max-width: 1024px) {
  .md-button--stretch {
    width: 100%;
    line-height: 50%;
  }
}


.image-left {
  display: block;
  margin-right: 7px;
  margin-top: 7px;
  float: left;
  width: 10%;
}


@font-face {
  font-family: "JTCM9";
  src: url("../fonts/NIS-JTC-Win-M9.ttf") format('truetype');
}

@font-face {
  font-family: "FOT-MatissePro-M";
  src: url("../fonts/FOT-MatissePro/FOT-MatissePro-M.otf") format('opentype');
}

p {
  font-size: 1.2em;
  font-weight: 500;
}
div {
  line-height: 150%;
}

[data-md-color-scheme="slate"]  {
  --md-primary-fg-color: #80cf81;
  --md-primary-bg-color: #000000;

  --md-accent-fg-color: #000000;
  --md-accent-bg-color: #000000;

  --md-default-fg-color: white;
  --md-default-bg-color: #000000;
  --md-typeset-color: white;
}

