.md-typeset .admonition,
.md-typeset details.large {
  font-size: 17px
}

@media (max-width: 1024px) {
  .md-button--stretch {
    width: 100%;
    line-height: 50%;
  }
}


.image-left {
  display: block;
  margin-right: 7px;
  margin-top: 7px;
  float: left;
  width: 10%;
}


/*@font-face {*/
/*  font-family: "eva";*/
/*  src: "fonts/NIS-JTC-Win-M9.ttf";*/
/*}*/
